.favorites {
       b {
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto ;
        margin-bottom: 50px;
    }
    
    &>div {
        padding: 100px 0;
    }

 

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    .btnFov {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto;

        padding: 5px 10px;
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
    }
}